<a href="https://colab.research.google.com/github/maribelalay18/-Artificial-Intelligence/blob/main/miercoles23/10/24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import sys
print(sys.version)

3.10.12 (main, Sep 11 2024, 15:47:36) [GCC 11.4.0]

In [22]:
numero=5
tmp1="Edith"
print(numero)
print(f"mi nombre es {tmp1}")
print(numero+5)
print(numero-2)
print(numero*2)
print(numero/2)
print(numero%2)
numero *=2
print(numero)
print(type(numero))
print(type(tmp1))

5
mi nombre es Edith
10
3
10
2.5
1
10
<class 'int'>
<class 'str'>

In [23]:
t=True
f=False
print(type(t))
print(type(f))
print(t and f)
print(t or f)
print(not t)
print(t!=f)

<class 'bool'>
<class 'bool'>
False
True
False
True

In [24]:
aux1='hello'
aux2='world'
print(aux1+aux2)
print(aux1*4)
print(aux1.capitalize())
print(aux1.upper())
print(aux1.rjust(7))
print(aux1.center(7))
print(len(aux1))
aux3='MARIBEL'
print(aux3.lower())

helloworld
hellohellohellohello
Hello
HELLO
  hello
 hello
5
maribel

In [25]:
aux2=list()
aux2.append(2)
aux2.append("edith")
aux2.append(True)
print(aux2)
print(aux2[1])
print(aux2[-1])
print("*****")
aux2[1]='marcela'
print(aux2)
aux3=[1,2,3,'marcela',True,False]

[2, 'edith', True]
edith
True
*****
[2, 'marcela', True]

In [26]:
tmp1=list(range(100))
for i in tmp1:
    print(f"el valor es {i}")

el valor es 0
el valor es 1
el valor es 2
el valor es 3
el valor es 4
el valor es 5
el valor es 6
el valor es 7
el valor es 8
el valor es 9
el valor es 10
el valor es 11
el valor es 12
el valor es 13
el valor es 14
el valor es 15
el valor es 16
el valor es 17
el valor es 18
el valor es 19
el valor es 20
el valor es 21
el valor es 22
el valor es 23
el valor es 24
el valor es 25
el valor es 26
el valor es 27
el valor es 28
el valor es 29
el valor es 30
el valor es 31
el valor es 32
el valor es 33
el valor es 34
el valor es 35
el valor es 36
el valor es 37
el valor es 38
el valor es 39
el valor es 40
el valor es 41
el valor es 42
el valor es 43
el valor es 44
el valor es 45
el valor es 46
el valor es 47
el valor es 48
el valor es 49
el valor es 50
el valor es 51
el valor es 52
el valor es 53
el valor es 54
el valor es 55
el valor es 56
el valor es 57
el valor es 58
el valor es 59
el valor es 60
el valor es 61
el valor es 62
el valor es 63
el valor es 64
el valor es 65
el valor es 66
el valor es 67
el valor es 68
el valor es 69
el valor es 70
el valor es 71
el valor es 72
el valor es 73
el valor es 74
el valor es 75
el valor es 76
el valor es 77
el valor es 78
el valor es 79
el valor es 80
el valor es 81
el valor es 82
el valor es 83
el valor es 84
el valor es 85
el valor es 86
el valor es 87
el valor es 88
el valor es 89
el valor es 90
el valor es 91
el valor es 92
el valor es 93
el valor es 94
el valor es 95
el valor es 96
el valor es 97
el valor es 98
el valor es 99

Fin de clase 23 octubre del 2024 IA

Inicio de practica 24/10/2024

In [27]:
listaAnimales =list()
listaAnimales.append("gato")
listaAnimales.append("perro")
listaAnimales.append("loro")
# print(listaAnimales)

tmp1=listaAnimales[:3]
print("Animales %s"%(tmp1))

tmp2=listaAnimales[3:]
print("Animales %s"%(tmp2))

tmp3=listaAnimales[2:4]
print("Animales %s"%(tmp3))

listaAnimales[2:4]=['leon','tigre']
print("Animales %s"%(listaAnimales))

Animales ['gato', 'perro', 'loro']
Animales []
Animales ['loro']
Animales ['gato', 'perro', 'leon', 'tigre']

In [28]:
for numero, animal in enumerate(listaAnimales):
    print('%d:%s'%(numero+1, animal))

1:gato
2:perro
3:leon
4:tigre

In [29]:
listaNormal=list(range(50))
for i in listaNormal:
    print(i)
    print(f"el numero es : {i+1}")
print(listaNormal)
listaCuadrado=[x**2 for x in listaNormal]
print(listaCuadrado)

0
el numero es : 1
1
el numero es : 2
2
el numero es : 3
3
el numero es : 4
4
el numero es : 5
5
el numero es : 6
6
el numero es : 7
7
el numero es : 8
8
el numero es : 9
9
el numero es : 10
10
el numero es : 11
11
el numero es : 12
12
el numero es : 13
13
el numero es : 14
14
el numero es : 15
15
el numero es : 16
16
el numero es : 17
17
el numero es : 18
18
el numero es : 19
19
el numero es : 20
20
el numero es : 21
21
el numero es : 22
22
el numero es : 23
23
el numero es : 24
24
el numero es : 25
25
el numero es : 26
26
el numero es : 27
27
el numero es : 28
28
el numero es : 29
29
el numero es : 30
30
el numero es : 31
31
el numero es : 32
32
el numero es : 33
33
el numero es : 34
34
el numero es : 35
35
el numero es : 36
36
el numero es : 37
37
el numero es : 38
38
el numero es : 39
39
el numero es : 40
40
el numero es : 41
41
el numero es : 42
42
el numero es : 43
43
el numero es : 44
44
el numero es : 45
45
el numero es : 46
46
el numero es : 47
47
el numero es : 48
48
el numero es : 49
49
el numero es : 50
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [30]:
listaNormal=list(range(50))
print(listaNormal)
for i in listaNormal:
  var=i+1
  valor=var**2
  print(f"el numero es:{valor}")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
el numero es:1
el numero es:4
el numero es:9
el numero es:16
el numero es:25
el numero es:36
el numero es:49
el numero es:64
el numero es:81
el numero es:100
el numero es:121
el numero es:144
el numero es:169
el numero es:196
el numero es:225
el numero es:256
el numero es:289
el numero es:324
el numero es:361
el numero es:400
el numero es:441
el numero es:484
el numero es:529
el numero es:576
el numero es:625
el numero es:676
el numero es:729
el numero es:784
el numero es:841
el numero es:900
el numero es:961
el numero es:1024
el numero es:1089
el numero es:1156
el numero es:1225
el numero es:1296
el numero es:1369
el numero es:1444
el numero es:1521
el numero es:1600
el numero es:1681
el numero es:1764
el numero es:1849
el numero es:1936
el numero es:2025
el numero es:2116
el numero es:2209
el numero es:2304
el numero es:2401
el numero es:2500

In [31]:
listaCuadrados=[x**2 for x in listaNormal]
print(listaCuadrados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [32]:
listaPares=[x for x in listaCuadrados if x%2==0]
print(listaPares)

listaImpares=[x for x in listaCuadrados if x%2!=0]
print(listaImpares)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [52]:
dictiCuadrado={'1':1,'2':4,'3':9,'4':16}
print(dictiCuadrado)

dictiCuadrado={x:x**2 for x in listNumeros}
print(dictiCuadrado)

{'1': 1, '2': 4, '3': 9, '4': 16}
{1: 1, -5: 25, 0: 0}

In [33]:
setElementos= {'monkey', 'donkey','mouse','cocodrile','fish'}
print(setElementos)

{'monkey', 'cocodrile', 'fish', 'donkey', 'mouse'}

In [34]:
print('donkey' in setElementos)
setElementos.add('bear')
print(setElementos)
print(len(setElementos))

True
{'monkey', 'bear', 'cocodrile', 'fish', 'donkey', 'mouse'}
6

In [12]:
def sum(a,b):
  return a+b

tmp1=5
tmp2=9
print('la suma de los valores es igual: ',sum(tmp1,tmp2))

la suma de los valores es igual:  14

In [49]:
setElementos= {'monkey', 'donkey','mouse','cocodrile','fish'}
print(setElementos)

{'monkey', 'cocodrile', 'fish', 'donkey', 'mouse'}

In [50]:
print('donkey' in setElementos)
setElementos.add('bear')
print(setElementos)
# setElemetos.remove('fish')
print(setElementos)
print(len(setElementos))

True
{'monkey', 'bear', 'cocodrile', 'fish', 'donkey', 'mouse'}
{'monkey', 'bear', 'cocodrile', 'fish', 'donkey', 'mouse'}
6

In [47]:
class saludos(object):
  # constructor
  def __init__(self,nombre):
    self.nombre=nombre
    # print("se ejecuta automàticamente")
  def mensaje(self):
      print('Hola ', self.nombre)

name1=saludos('Jareth')

name1.mensaje()

Hola  Jareth

In [48]:
class numeros(object):
  # constructor
  def __init__(self,numero1,numero2):
    self.numero1=numero1
    self.numero2=numero2
    # print("se ejecuta automàticamente")
  def suma(self):
    return self.numero1+self.numero2
problema1=numeros(5,9)
print(problema1.suma())

14